<div class="row">
  <div class="col s6 m6">
    <div class="card deep-orange accent-4">
      <div class="card-content white-text">
        <span class="card-title">Day 2 - Corruption Checksum</span>
        <p>The spreadsheet consists of rows of apparently-random numbers.
          To make sure the recovery process is on the right track, they need you to
          calculate the spreadsheet's checksum. For each row, determine the difference
          between the largest value and the smallest value; the checksum is the sum of all of these differences.</p>
        <p> Ergebnis: {{ergebnis}}</p>
      </div>
      <div class="card-action">
        <button class="btn waves-effect waves-light green darken-4" (click)="antwortberechnen()"> Teil 1 </button>
        <button class="btn waves-effect waves-light green darken-4" (click)="antwortberechnen2()"> Teil 2</button>
      </div>
    </div>
  </div>
</div>
