  <div class="col s12 m6 l4">
    <div class="card deep-orange accent-4">
      <div class="card-content white-text">
        <span class="card-title">Day 1: Inverse Captcha </span>
        <p>The captcha requires you to review a sequence of digits (your puzzle input)
          and find the sum of all digits that match the next digit in the list. The list is circular,
          so the digit after the last digit is the first digit in the list.</p>
        <p> Ergebnis: {{ergebnis}}</p>
      </div>
      <div class="card-action">
        <button class="btn waves-effect waves-light green darken-4" (click)="antwortberechnen()"> Teil 2 </button>
      </div>
    </div>
