  <div class="col s12 m6 l4">
    <div class="card deep-orange accent-4">
      <div class="card-content white-text">
        <span class="card-title">Day 3 </span>
        <p> Here is Text, will be filled </p>
        <p> Ergebnis: {{ergebnis}}</p>
      </div>
      <div class="card-action">
        <button class="btn waves-effect waves-light green darken-4" (click)="antwortberechnen()"> Teil 1 </button>
        <button class="btn waves-effect waves-light green darken-4" (click)="antwortberechnen2()"> Teil 2</button>
      </div>
    </div>
  </div>
